@model ScheduleChange.Models.Config.PCC

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PCC</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CityCode" class="control-label"></label>
                <input asp-for="CityCode" class="form-control" />
                <span asp-validation-for="CityCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PCCCode" class="control-label"></label>
                <input asp-for="PCCCode" class="form-control" />
                <span asp-validation-for="PCCCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PCCName" class="control-label"></label>
                <input asp-for="PCCName" class="form-control" />
                <span asp-validation-for="PCCName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QueueNumber" class="control-label"></label>
                <input asp-for="QueueNumber" class="form-control" />
                <span asp-validation-for="QueueNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeZone" class="control-label"></label>
                <input asp-for="TimeZone" class="form-control" />
                <span asp-validation-for="TimeZone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PCCFullName" class="control-label"></label>
                <input asp-for="PCCFullName" class="form-control" />
                <span asp-validation-for="PCCFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateBy" class="control-label"></label>
                <input asp-for="CreateBy" class="form-control" />
                <span asp-validation-for="CreateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateBy" class="control-label"></label>
                <input asp-for="UpdateBy" class="form-control" />
                <span asp-validation-for="UpdateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
