<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ScheduleChange</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-md-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="SC_SITATEX" asp-action="Index">File SITATEX</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="SCCRequests" asp-action="Index">SCCRequests</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Configs chương trình SC
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-action="Index" asp-controller="Addresses">Addresses</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="DomesticCities">Thành phố trong nước</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="FlightConfigs">Cấu hình máy bay</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="MarketingCodeShareFlights">Marketing Codeshare Flights</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="MealsCodes">Mã suất ăn</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="PCCs">PCC</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="SSCIStations">SSCI Stations</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="ThreeCompartmentsFlights">Chuyến bay 3 khoang</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>